recursive-include src/bioprint/static *
recursive-include src/bioprint/templates *
recursive-include src/bioprint/plugins *
recursive-include src/bioprint/translations *
include versioneer.py
include src/bioprint/_version.py
include README.md
include requirements.txt
